[data-controller~="carousel"] [data-carousel-target="viewport"] {
    overflow: hidden;
}

[data-controller~="carousel"] [data-carousel-target="container"] {
    display: flex;
    touch-action: pan-y pinch-zoom;
    will-change: transform;
    backface-visibility: hidden;
}
